# Copy this service to systemd to run mr-hommy as service:
#   sudo cp ./mr-hommy.service /etc/systemd/system/mr-hommy.service
# Then enable it for autostart:
#   sudo systemctl enable mr-hommy.service

[Unit]
Description=MrHommy assistant
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Assume, this project located in "/opt/mr-hommy"
# If not, fix to the correct path
WorkingDirectory=/opt/mr-hommy
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target